.nav-menu{
list-style-type:none;
display: flex;
align-items: center;

justify-content: center;



}
.nav-menu li{
margin: 0 10px;
}
.nav-menu li a{
text-decoration: none;
color: white;
font-weight: bold;
transition: color 0.3s ease;


}
.active{
  color:goldenrod !important;
  font-weight: bold !important;
}
/* mobile view */
  .mobile-nav{
    
    list-style: none;

  }
  .mobile-nav li{
    margin: 10px 0;
  }
  .mobile-nav li a{
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
    transition: color 0.3s ease;

  }