.home {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.headerContainer {
  width: auto;
  margin-left: 30px;
}
.home .headerContainer h1 {
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 70px;
  color: Red;
}
.home .headerContainer p {
  margin-top: 15px;
  padding: 0;
  font-size: 40px;
  color: white;
  line-height: 1.5;
  font-weight: lighter;
}
.home .headerContainer button {
  background: fixed;
  color: goldenrod;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 200px;
  text-decoration: none;
  font-size: 20px;
}
.home .headerContainer button:hover {
  background-color: goldenrod;
  color: black;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}




/*mobile view*/
@media only screen and (max-width: 600px) {
  .home {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .headerContainer {
    width: auto;
    margin-left: 0px;
    border-radius: 10px;
  }
  .home .headerContainer h1 {
    font-size: 40px;
  }
  .home .headerContainer p {
    font-size: 20px;
  }
  .home .headerContainer button {
    width: 150px;
    height: 40px;
    font-size: 16px;
  }
}

